body{
  font-family: Roboto;
}
.text-director {
  font-size: 12px;
  line-height: 14px;
  color: #454545;
  font-weight: 500;

  span {
    color: #7c7c7c;
    font-style: italic;
    display: block;
  }
}

.input{
  background-color: white;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ddd;
  height: 46px;
  padding-left: 14px;
  padding-right: 15px;
  color: #979797;
  font-size: 12px;
  font-weight: 400;
}

.input-2{
  width: 290px;
  height: 42px;
  background-color: #ededed;
  border: 1px solid #ddd;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  color: #979797;
  font-size: 14px;
  font-weight: 400;
}

.btn {
  display: inline-block;
  vertical-align: top;
  height: 46px;
  background-size: cover;
  background-position: center;
  color: #3d3d3d;
  padding: 0;
}

.btn-2{
  background-color: #0874bb;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  @include transition();

  &:hover{
    background-color: #0a58bb;
  }
}

.btn-small{
  width: 116px;
  height: 33px;
  background-image: url("../image/ui/btn-small.png");
  background-size: cover;
  background-position: center;
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 300;
  padding-right: 17px;
}

.text-underForm{
  color: #7c7c7c;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.border{
  border: 3px dashed #fc0;
  border-radius: 2px;
}

a{
  &:hover{
    text-decoration: none!important;
  }
}

















.advantages{
  padding: 146px 0 40px 0;
  text-align: center;

  .items{
    width: 828px;
    margin: 0 auto;
    padding-left: 33px;

    .item{
      .for-img{
        width: 83px;
        height: 83px;
        background-color: #eaeaea;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        margin: 0 auto 13px auto;

        img{
          position: absolute;
          z-index: 1;
          @include centered();
        }
      }

      .text{
        color: black;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
      }
    }
  }
}

.calculate-SRO{
  background-color: #f6f6f6;
  padding: 48px 0 39px 0;

  .item{
    display: inline-block;
    vertical-align: top;

    &.mid{
      margin-left: 21px;
    }

    &.left{
      width: 235px;
      text-align: center;

      img{
        margin-bottom: 8px;
      }
    }

    &.mid{
      width: 271px;
      margin-left: 17px;
      padding-top: 31px;

      .text{
        color: black;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
      }
    }

    &.right{
      padding-top: 61px;
      margin-left: 62px;
      .input{
        width: 234px;
        display: inline-block;
        vertical-align: top;
      }

      .btn{
        width: 170px;
        background-image: url(../image/ui/button-small.png);
        margin-left: -5px;
        color: #3d3d3d;
        font-size: 17px;
        font-weight: 500;
        padding: 0;
      }

      .text-underForm{
        margin: 19px 0 20px 0;
      }

      .text-coll{
        color: #454545;
        font-size: 16px;
        font-weight: 700;
        line-height: 14px;
        display: inline-block;
        vertical-align: middle;
      }

      .phone{
        color: #0874bb;
        font-size: 30px;
        font-weight: 700;
        display: inline-block;
        vertical-align: middle;
        margin-left: 16px;
      }
    }
  }
}

.our-help{
  padding: 64px 0 68px 0;

  .left{
    width: 472px;
    display: inline-block;
    vertical-align: top;
    
    .title{
      color: black;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 6px;
    }

    .subtitle{
      color: black;
      font-size: 21px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .text{
      color: #707070;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 27px;

      &:last-child{
        margin-bottom: 0px;
      }

      span{
        color: #707070;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  .right{
    width: 490px;
    padding: 27px 0 3px 0;
    background-color: #f6f6f6;
    display: inline-block;
    vertical-align: top;
    margin: 3px 0 0 34px;

    .title{
      color: black;
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      line-height: 24px;
      padding-bottom: 31px;
    }

    .text{
      background-color: white;
      color: #076aaa;
      font-size: 18px;
      font-weight: 400;
      padding: 22px 0 20px 142px;
      position: relative;
      z-index: 1;

      &:before {
        content: attr(data-number);
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        position: absolute;
        z-index: 1;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #0874bb;
        top: 18px;
        left: 94px;
      }
    }
  }
}

.reliable-SRO{
  padding: 57px 0 42px 0;
  background-color: #fbfbfb;

  .title{
    color: black;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 31px;
  }

  .items{
    width: 489px;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;

    .for-img{
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: top;
      width: 160px;
      height: 200px;
      position: relative;
      z-index: 1;

      img{
        position: absolute;
        z-index: 1;
        @include centered();
      }
    }

    .first{
      position: relative;
      z-index: 1;

      &:before{
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        width: 489px;
        height: 1px;
        background-color: #ddd;
        bottom: 0;
        left: 0;
      }

      &:after{
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        width: 1px;
        height: 400px;
        background-color: #ddd;
        top: 0;
        right: 0;
      }
    }

    .second{
      &:after{
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        width: 1px;
        height: 400px;
        background-color: #ddd;
        top: 0;
        right: 0;
      }
    }
  }

  .list{
    display: inline-block;
    vertical-align: top;
    width: 470px;
    font-weight: 400;
    margin-left: 30px;

    li{
      color: #707070;
      font-size: 14px;
      margin-bottom: 12px;
      position: relative;
      z-index: 1;

      &:before{
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        width: 5px;
        height: 9px;
        background-image: url("../image/ui/decor-for-list.png");
        background-position: center;
        background-repeat: no-repeat;
        top: 3px;
        left: -12px;
      }
    }

    a{
      color: #076aaa;
      font-size: 12px;
      text-decoration: underline;

      &:last-child{
        margin-left: 12px;
      }
    }
  }
}

.free-advice{
  padding: 91px 0 60px 0;

  .for-image{
    display: inline-block;
    vertical-align: top;
    width: 150px;
    text-align: center;
    padding-top: 7px;


    img{
      margin-bottom: 12px;
    }

    .text-director{
      font-weight: 500;
      line-height: 14px;
      font-size: 12px;
      color: black;

      span{
        margin-top: 4px;
      }
    }
  }

  .for-text{
    display: inline-block;
    vertical-align: top;
    width: 843px;
    margin-bottom: 34px;
    padding: 25px 78px 36px 48px;
    background-image: url("../image/free-advice/bg.png");
    background-position: center;
    background-size: cover;

    .title{
      margin-bottom: 12px;
      color: black;
      font-size: 24px;
      font-weight: 500;
    }

    .text{
      color: #707070;
      font-size: 14px;
      font-style: italic;
      line-height: 20px;
    }
  }

  .subtitle{
    color: #0874bb;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    display: inline-block;
    vertical-align: top;
    width: 313px;
    margin-left: 172px;

    span{
      font-size: 24px;
      font-weight: 700;
      font-style: normal;
      display: block;
    }
  }

  .for-form{
    display: inline-block;
    vertical-align: top;
    width: 495px;
    margin: 7px 0 0 16px;

    .input{
      width: 235px;
      display: inline-block;
      vertical-align: top;
    }
    
    .btn{
      width: 260px;
      background-image: url("../image/ui/button-big.png");
      color: #3d3d3d;
      font-size: 14px;
      font-weight: 400;
      display: inline-block;
      vertical-align: top;
      margin-left: -5px;
    }

    .text-underForm{
      margin-top: 10px;
    }
  }
}

.safety-reasons{
  padding: 52px 0 25px 0;
  color: black;

  .left{
    display: inline-block;
    vertical-align: top;
    width: 491px;

    .title{
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    .text{
      color: #707070;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 12px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .items{
      margin-top: 33px;

      .item{
        width: 150px;
        height: 50px;
        background-color: #fbfbfb;
        border: 4px solid #fc0;
        border-radius: 2px 3px 3px 2px;
        text-align: center;
        padding-top: 8px;

        .text{
          color: black;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
        }
      }
    }
  }

  .right{
    display: inline-block;
    vertical-align: top;
    width: 379px;
    margin-left: 124px;
    padding: 18px 0 0 0;

    .subtitle{
      display: inline-block;
      vertical-align: top;
      font-size: 24px;
      font-weight: 500;
      line-height: 19px;
      color: #0874bb;
      margin-left: 31px;
      margin-bottom: 29px;
      position: relative;
      z-index: 1;

      &:before{
        position: absolute;
        z-index: 1;
        content: '5';
        color: #0874bb;
        font-size: 72px;
        font-weight: 500;
        top: 8px;
        left: -56px;
      }

      span{
        display: block;
        color: black;
      }
    }

    .list{
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 25px;

      li{
        margin-bottom: 19px;
        position: relative;
        z-index: 1;

        &:before{
          position: absolute;
          z-index: 1;
          content: attr(data-number);
          display: block;
          width: 15px;
          height: 15px;
          background-color: #fc0;
          border-radius: 50%;
          text-align: center;
          color: #454545;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          top: 2px;
          left: -24px;
        }

        &:last-child{
          margin-bottom: 0px;
        }
      }
    }
  }

  .text-end{
    width: 1000px;
    background-color: #f6f6f6;
    border-radius: 2px;
    padding: 25px 0 20px 60px;
    margin-top: 25px;

    .text{
      color: black;
      font-size: 18px;
      font-style: italic;
      display: inline-block;
      vertical-align: top;
      position: relative;
      z-index: 1;

      &:before{
        position: absolute;
        z-index: 1;
        display: block;
        width: 21px;
        height: 21px;
        background-color: #0874bb;
        border-radius: 50%;
        content: '!';
        color: white;
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
        line-height: 22px;
        text-align: center;
        top: 0;
        left: -34px;
      }
    }

    a{
      color: #076aa6;
      font-size: 17px;
      font-weight: 500;
      text-decoration: underline;
      display: inline-block;
      vertical-align: top;
      margin: 3px 0 0 21px;
    }
  }
}

.documents-for-entry{
  padding: 25px 0 60px 0;

  .left{
    display: inline-block;
    vertical-align: top;
    width: 631px;
    .title{
      color: black;
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 11px;
    }

    .text{
      color: #707070;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 10px;

      &:last-of-type{
        margin-bottom: 37px;
      }
    }

    .subtitle{
      color: black;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 18px;
    }

    .list{
      color: #707070;
      font-size: 14px;
      font-weight: 400;
      margin-left: 23px;

      li{
        margin-bottom: 14px;
        position: relative;
        z-index: 1;

        &:before{
          position: absolute;
          z-index: 1;
          content: attr(data-number);
          width: 15px;
          height: 15px;
          background-color: #535353;
          border-radius: 50%;
          line-height: 16px;
          text-align: center;
          color: white;
          font-size: 12px;
          font-weight: 400;
          top: 1px;
          left: -24px;
        }

        &:last-child{
          margin-bottom: 23px;
        }
      }
    }

    .end{
      margin-left: 84px;

      .title{
        position: relative;
        z-index: 1;

        &:before{
          position: absolute;
          z-index: 1;
          content: '?';
          color: gainsboro;
          font-size: 130px;
          font-weight: 900;
          top: 38px;
          left: -84px;
        }
      }

      .text{
        margin-bottom: 0px
      }
    }
  }

  .right{
    display: inline-block;
    vertical-align: top;
    width: 318px;
    margin-left: 47px;

    .for-form{
      text-align: center;
      padding: 19px 0 18px 0;

      .subtitle{
        color: black;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
      }

      .text{
        color: #707070;
        font-size: 14px;
        font-weight: 400;
      }

      .input-2{
        margin-bottom: 16px;
      }

      .btn-2{
        width: 289px;
        height: 51px;
      }
    }

    .text-underForm{
      margin-top: 15px;
    }
  }
}

.cost-of-SRO{
  background-color: #fbfbfb;
  padding: 41px 0 52px 0;


  .content{
    background-image: url("../image/cost-of-SRO/bg.png");
    background-size: cover;
    background-position: top;
    padding-top: 70px;
    box-shadow: 0 5px 0 #bfbfbf;

    .title{
      text-align: center;
      color: black;
      font-weight: 500;
      line-height: 30px;
      font-size: 30px;
      margin-bottom: 29px;

      span{
        display: block;
        font-size: 24px;
      }
    }

    table{
      padding-bottom: 26px;
      display: block;
      margin: 0 auto;
      width: 871px;
      border-collapse: collapse;

      tr{
        height: 36px;

        &:nth-child(odd){
          background-color: #f6f6f6;
        }
      }


      .pole-1{
        width: 275px;
        padding-left: 21px;
        color: black;
        font-size: 14px;
        font-weight: 400;
      }

      .pole-2{
        color: #707070;
        font-weight: 400;
        font-size: 14px;

        .line-1{
          color: black;
          font-weight: 400;
        }

        .line-2{
          color: black;
          font-weight: 700;
        }
      }
    }
  }
}

.how-to-gain-admission{
  padding: 67px 0 30px 0;

  .left{
    display: inline-block;
    vertical-align: top;
    width: 489px;

    .for-form{
      padding: 23px 0 15px 0;
      text-align: center;

      .subtitle{
        color: black;
        font-size: 24px;
        font-weight: 500;
        display: inline-block;
        vertical-align: middle;
      }

      .free{
        color: white;
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
        vertical-align: middle;
        width: 87px;
        height: 24px;
        background-color: #df3434;
        text-align: center;
        line-height: 23px;
        margin-left: 8px;
      }

      .input-2{
        width: 450px;
        height: 50px;
        margin-top: 30px;

        &:last-of-type{
          margin-top: 13px;
        }
      }

      .btn-2{
        width: 450px;
        height: 50px;
        margin-top: 12px;
      }
    }

    .text-underForm{
      margin-top: 16px;
    }
  }

  .right{
    display: inline-block;
    vertical-align: top;
    width: 390px;
    margin: -5px 0 0 102px;

    .subtitle{
      color: black;
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 13px;
    }

    .text{
      color: #707070;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }

    .article{
      color: #076aa6;
      font-size: 18px;
      font-weight: 400;
      text-decoration: underline;
      display: block;
      position: relative;
      z-index: 1;
      margin: 19px 0 0 18px;

      &:before{
        position: absolute;
        z-index: 1;
        content: '';
        width: 5px;
        height: 9px;
        display: block;
        background-image: url("../image/ui/decor-article.png");
        top: 5px;
        left: -16px;
      }
    }
  }
}

.why-Ladoga{
  padding: 27px 0 62px 0;

  .title{
    color: black;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 29px;
  }

  .list{
    width: 942px;
    height: 124px;
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    margin-left: 36px;

    li{
      line-height: 18px;
      margin-bottom: 18px;
      position: relative;
      z-index: 1;

      &:before{
        position: absolute;
        z-index: 1;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("../image/ui/for-list-2.png");
        background-position: center;
        top: -1px;
        left: -37px;
      }
    }

  }
}

.reviews{
  padding: 61px 0px 138px 13px;
  background-color: #fbfbfb;

  .title{
    color: black;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 19px;
  }

  .text{
    color: #878787;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 57px;
  }

  .reviews-slider{
    position: relative;
    z-index: 100;

    .slick-dots{
      position: absolute;
      z-index: 100;
      bottom: -73px;
      left: 182px;

      li{
        display: inline-block;
        vertical-align: top;
        margin: 0 5px;

        button{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #c9c9c9;
          font-size: 0;
          padding: 0;
          display: block;
        }

        &.slick-active{
          button{
            background-color: #fc0;
          }
        }
      }
    }

    .slide{

      .for-img{
        width: 163px;
        height: 163px;
        display: inline-block;
        vertical-align: top;
        margin-top: 4px;
      }

      .for-reviews{
        display: inline-block;
        vertical-align: top;
        margin-left: 19px;

        .subtitle{
          font-weight: 400;
          color: #076aa6;
          font-size: 18px;

          span{
            color: #ababab;
            font-size: 12px;
            display: block;
            margin-top: 2px;
          }
        }

        .text{
          width: 600px;
          color: #878787;
          font-size: 14px;
          font-weight: 300;
          font-style: italic;
          margin: 17px 0 0 80px;
          line-height: 20px;
          position: relative;
          z-index: 1;

          &:before{
            position: absolute;
            z-index: 1;
            content: ',,';
            color: #c9c9c9;
            font-size: 72px;
            font-weight: 700;
            top: -24px;
            left: -48px;
          }
        }
      }
    }
  }

  .btn-small{
    float: right;
    margin: 32px 102px 0 0px;
    position: relative;
    z-index: 1;


    &:before{
      position: absolute;
      z-index: 1;
      display: block;
      content: '';
      width: 237px;
      height: 1px;
      background-color: #ddd;
      top: 1px;
      left: -595px;
    }
  }
}

.additional-opportunities{
  padding: 67px 0 50px 0;

  .left{
    display: inline-block;
    vertical-align: top;
    width: 310px;

    .subtitle{
      font-weight: 400;
      color: black;
      font-size: 24px;
      margin: -5px 0 18px 0;
    }

    .list{

      li{
        color: #076aa6;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        z-index: 1;
        margin: 0 0 19px 16px;

        &:before{
          content: '';
          position: absolute;
          z-index: 1;
          width: 5px;
          height: 9px;
          display: block;
          background-image: url("../image/ui/decor-for-list.png");
          top: 3px;
          left: -15px;
        }

        a{
          text-decoration: underline;
        }
      }
    }
  }

  .right{
    display: inline-block;
    vertical-align: top;
    width: 659px;
    margin-left: 26px;

    .content{
      padding: 26px 0 25px 17px;

      .for-img{
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 167px;

        .text-director{
          margin-top: 9px;
        }
      }
      .for-form{
        display: inline-block;
        vertical-align: top;
        width: 438px;
        text-align: left;
        margin-left: 22px;

        .subtitle{
          line-height: 18px;
          color: black;
          font-size: 20px;
          font-weight: 500;
          font-style: italic;
          margin-bottom: 24px;

          span{
            color: #707070;
            font-size: 11px;
            font-style: italic;
          }
        }

        form{

          .input-2{
            width: 420px;
            margin: 0 0 16px 0;
          }

          .btn-2{
            width: 420px;
            height: 50px;
            margin: 0 0 0 0 ;
          }
        }
      }
    }

    .text-underForm{
      margin-top: 12px;
    }
  }
}

.license-MChS{
  padding: 42px 0 62px 0;
  text-align: center;

  .text{
    width: 977px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto 30px auto;
  }

  .title{
    width: 605px;
    color: #fc0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 auto;
  }
}




