.sro-page{
  .first-screen{
    padding: 14px 0 48px 0;
    background-image: url("../image/sro-page/bg.png");

    .logo{
      margin-bottom: 22px;
    }

    .title{
      line-height: 49px;
    }
  }
}